<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<div>
    <p th:inline="text"><strong>Total count: [[${results.count}]]</strong></p>
</div>
<div>
    <table th:each="response : ${results.responses}">
        <tr>
            <th th:text="${response.name}">Title ...</th>
        </tr>
        <tr th:if="${results.empty}">
            <td colspan="4">No results</td>
        </tr>
        <tr th:each="entry : ${response.entries}">
            <td><p th:text="${entry.text}">Text ...</p><a th:href="${entry.link}">Link ...</a></td>
        </tr>
    </table>
</div>

</body>

</html>
